/* style.css */
body {
    background-color: #3D315B;
    color: #E0E1DD; /* Off White */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    color: #341270; /* Matte Green */
    text-align: center;
}
h2 {
    color: #ffffff; /* Matte Green */
    text-align: center;
}
a {
    color: #58A4B0; /* Matte Teal */
    text-decoration: none;
}
a:hover {
    color: #E0E1DD; /* Off White */
}
p {
    font-size: 1em;
    color: #666;
}
.button {
    background-color: #58A4B0; /* Matte Teal */
    color: #E0E1DD; /* Off White */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: #58A4B0; /* Matte Pink */
}
#frame {
    border: 2px solid #ff99ff; /* Matte Pink */
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: #000066; /* Off White */
    width: 80%;
    max-width: 900px;
}
#title_frame {
    border: 2px solid #E63462; /* Matte Pink */
    padding: 10px; /* Reduced padding */
    margin: 10px;
    border-radius: 15px;
    background-color: #E0E1DD; /* Off White */
    width: auto; /* Adjusted width */
    max-width: none; /* Adjusted max-width */
    margin: auto;
    text-align: center;
    display: inline-block; /* Added */
}
.results-table {
    margin-top: 20px; /* Adjust as needed */
    text-align: center;
}
.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
